@model Actor

<div class="card">
    <div class="row g-0">
       
        <div class="col-md-4">
            <img src="/images/cast/@Model.ProfilePicture"  alt="@Model.FirstName">
        </div>
        <div class="col-md-8">
            <div class="card-body">

                <h1 class="card-title"> @Model.FirstName @Model.LastName</h1>
            </div>
            <div class="card-body">
                @Model.Bio
            </div>
            
            <div class="card-body">
                <a href="#">Social Media</a>
            </div>

        </div>


       </div>
    </div>



